:root
  
  #container {
    display: grid;
    /* grid-gap: 1em; */
    grid-template-rows: repeat(var(--grid-rows), 30px);
    grid-template-columns: repeat(var(--grid-cols), 30px);
    aspect-ratio: 1;
  }
  
  .grid-item {
    /* padding: 1em; */
    border: 1px solid #aaa;
    text-align: center;
  }